
.container {
	width: 95%;
	margin: 0 auto;
}
.avatar {
	width: 65px;
	height: 65px;
	border-radius: 50%;
}
.list {
	display: flex;
	flex-direction: column;
}
.list-item {
	width: 98%;
	height: 40px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	
}